@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,600&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

:root {
    --star-size: -2em;
    --star-color: #636060;
    --star-background: #fc0;
}

.stars {
    --percent: calc(var(--rating)/10 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.stars::before {
    content: '⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* {
    overflow: visible;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.flex-container {
    /*    text-align: center;*/
    width: 79%;
    height: 80vh;
    display: flex;
}

.content {
    margin: 10px;
    padding: 20px;
}

.content .book-title {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.content p {
    font-family: 'Roboto Condensed', sans-serif;
}

.image {
    margin-left: 1vw;
    margin-top: 10px;
}

.flex-container img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.flex-container img:hover {
    transform: scale(1.1);
    box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
}

.flex-child {
    /*This is to style the content of the current book */
    max-width: 646px;
    flex: 1;
}

.content {
    margin-left: 30px;
}

.flex-child:first-child {
    background-color: #A6D0DD;
    max-width: 428px;
    max-height: 504px;
}

section {
    margin-top: 10em;
    margin: 5rem;
}

.row {
    overflow: visible !important;
}

.card:hover {
    transform: scale(1.1);
}